<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рабочая документация</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<ol>
    <li><a href="">Титульный лист</a></li>
    <li><a href="">Общие данные</a></li>
      <ol>
        {% for data, name in docs['datas'] %}
        <li><a href="{{ data }}">{{ name }}</a></li>
        {% endfor %}
      </ol>
    <li>Схема прохождения трактов
        <ol>
          {% for tract, name in docs['tracts'] %}
              <li><a href="{{ tract }}">{{ name }}</a></li>
          {% endfor %}
        </ol>
    </li>
    <li>Схема кабельных соединений
        <ol>
          {% for cab_con, name in docs['cab_cons'] %}
              <li><a href="{{ cab_con }}">{{ name }}</a></li>
          {% endfor %}
        </ol>
    </li>
    <li>Схема расположения оборудования в шкафах
        <ol>
          {% for equip, name in docs['equips'] %}
              <li><a href="{{ equip }}">{{ name }}</a></li>
          {% endfor %}
        </ol>
    </li>
    <li>План расположения оборудования и кабельных трасс
        <ol>
          {% for room, name in docs['rooms'] %}
              <li><a href="{{ room }}">{{ name }}</a></li>
          {% endfor %}
        </ol>
    </li>
    <li>Спецификация</li>
      <ol>
        {% for spec, name in docs['specs'] %}
            <li><a href="{{ spec }}">{{ name }}</a></li>
        {% endfor %}
      </ol>
    <li>Задание на проектирование</li>
      <ol>
        {% for task, name in docs['tasks'] %}
            <li><a href="{{ task }}">{{ name }}</a></li>
        {% endfor %}
      </ol>
</ol>
</body>
</html>
